# Ignore contents of media-inventory/output but keep the folder
media-inventory/output/*
!media-inventory/output/.gitkeep

# Ignore contents of quality-inspector/samples but keep the folder
quality-inspector/samples/*
!quality-inspector/samples/.gitkeep

# Ignore output folders
*/[Ll]ogs/*
*/[Ll]og/*
csv
CSV

# Ignore Python cache files
__pycache__/

# Ignore macOS system files
.DS_Store