# Ignore logs directory
logs/

# Ignore all files in input directory except hdr-to-sdr-files-example.txt
input/*
!input/hdr-to-sdr-files-example.txt

# Folder placeholders
output-health-check/*
logs/*

# Ignore contents of media-inventory/output but keep the folder
media-inventory/output/*
!media-inventory/output/.gitkeep

# Ignore Python cache files
__pycache__/

# Ignore macOS system files
.DS_Store